{% extends 'generic/Popup.twig' %}
{% block popup_id %}delete-gradeable-form{% endblock %}
{% block title %}删除作业{% endblock %}
{% block body %}
    <p>注意：只有没有学生分组、没有已提交的作业、没有打分数据且没有VCS创建过的作业可被删除。
    </p>
    <br />
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    你确定要删除吗？
    <div id="delete-gradeable-message">
    </div>
{% endblock %}
{% block form %}
    <form name="delete-confirmation" method="post">
        {{ parent() }}
    </form>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-danger" type="submit" value="删除">
{% endblock %}
