{% extends 'generic/Popup.twig' %}
{% block popup_id %}previous-submission-form{% endblock %}
{% block title %}历史提交{% endblock %}
{% block body %}
    <fieldset>
        <legend>当前已有历史提交信息<br>需要在新的提交中保留哪些文件？</legend>
        <br>
        <input type="radio" id="instructor-submit-option-new" name="instructor-submit"><label for="instructor-submit-option-new">只有新文件</label><br>
        <input type="radio" id="instructor-submit-option-merge-1" name="instructor-submit"><label for="instructor-submit-option-merge-1">全部保留 - 重名的老文件会被重命名</label><br>
        <input type="radio" id="instructor-submit-option-merge-2" name="instructor-submit"><label for="instructor-submit-option-merge-2">全部保留 - 重名的老文件会被覆盖</label>
    </fieldset>
{% endblock %}
{% block buttons %}
    {{ block('close_button') }}
    <input class="btn btn-primary submit-button" type="submit" value="Submit" />
{% endblock %}
